*
{
    font-family:Arial, Helvetica, sans-serif;
}
p{
    text-align: justify;
}

h1
{
    font-size: 2em;
    text-align: center;
    color: blue;
}
h2
{
    font-size: 1.5em;
}
h3
{
    font-size: 1.25em;
}
h1 + p
{
    font-weight: bold;
    color: gray;
}
.grasitalic
{
    font-weight: bold;
    font-style: italic;

}
.float
{
   float: right; 
}
.btn
{
    background-color: #001534;
    color: #15DEA5;
    border-radius: 3em;
    width: 20%;
    padding: 1.5em;
}