@font-face{
    font-family: 'Montserrat-Light';
    src: url(montserrat/Montserrat-Light.otf);
}
*{
    font-family: Montserrat-Light, Arial, Helvetica, sans-serif;
}
.header{
    background: #E3E3E3;
    box-shadow: 2px 2px 5px black;
    width: 300px;
    height: 400px;
    padding: 20px;
    margin: auto;
    overflow: auto;
    margin-top:20px;
    
}
#conteneur{
    display: flex;
    box-shadow: 2px 2px 5px black;
    height: 400px;
    flex-wrap: wrap;
    align-content: center;
   
}
.element{
    width: 150px;
    height:100px;
}
.element:nth-child(1){
    background-color: yellow;
    flex:1;
    order: 3;
}
.element:nth-child(2){
    background-color: red;
    flex: 2;
}
.element:nth-child(3){
    background-color: blue;
}

.soustitre{
    font-size: 1.3em;
    color: rgb(197, 197, 197);
    text-shadow: 2px 2px 3.5px black;
    
}
em{
    font-style: normal;
    text-decoration: underline;
}
h1{
    color: white;
    text-shadow: 2px 2px 3.5px black;
    
}
h2{
    color: #9E0000;
    text-shadow: 2px 2px 3.5px black;
}
h3{
    
    color: gray;
    box-shadow: 2px 2px 5px black;
    border-radius: 4px;
    padding: 5px;
}
h4{
    text-shadow: 2px 2px 20px black;
}
.cadre_titre{
    background-color: #9E0000;
    padding: 20px;
    border-radius: 10px;
}
section{
    margin: auto;
    border-left: 1px solid black;
    border-top: 1px solid black;
    padding-left: 20px;
    margin-top: 20px;
    border-radius: 10px;
}
a:hover{
    text-shadow: 2px 2px 20px black;
}